<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <h1>Welcome to the message board!</h1>
    <div class="messages-container">
        <% messages.forEach(message => { %>
            <div class="message">
                <p class="text"><%= message.text %></p>
                <p class="author">— <%= message.user %></p>
                <p class="date"><%= message.added %></p>
                <a href="/message/<%= message.id %>"><button>Open</button></a>
            </div>
        <% }) %>
        <a href="/new"><button>New message</button></a>
    </div>
</body>
</html>